<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nirvana</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <h1>Welcome Nirvaner</h1>
    <div class="container">
        <!-- <img class="nevermind" src="./images/nevermind.jpeg"/> -->
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/hits">Few songs</a></li>
            </ul>
        </nav>
    </div>
  </body>
</html>
